/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

body {
    font-family:Arial, Helvetica, sans-serif;
}

/* DEBUG */
/* body {
    background-color: aquamarine;
} */


/* COMMON */
.bg-gray {
    background-color: rgb(230, 230, 230);
    background-image: url('../img/wave.svg');
    background-repeat: repeat-x;       
    background-position: bottom center;
    background-size: auto 140px;
}

.btn {
    border-radius: 25px;
    padding: 12px 16px;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-purple {
    background-color: rgb(133, 137, 204);
}

/* utilities */
.container {
    width: 90%;
    max-width: 943px;
    margin: 0 auto;

    /* debug */
    /* border: 2px dashed black; */
}

.flex {
    display: flex;
}

.just-cont-center {
    justify-content: center;
}

.just-cont-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.py-150 {
    padding-top: 150px;
    padding-bottom: 150px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-30 {
    padding-bottom: 30px;
}

.dashed {
    border: 2px dashed black;
}

.font-content {
    font-size: 1.18em;
}

.font-heading {
    font-size: 2.8em;
}

.lineheight-30 {
    line-height: 30px;
}

/* HEADER */
header {
    height: 60px;
    background-color: rgb(5, 95, 231);
}

 header ul {
    gap: 40px;
}

.container-nav {
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}

.login {
    text-align: end;
}

.nav-list {
    width:60%;
}


/* MAIN */
/* Hero-section */
.hero-section {
    background-image: url(../img/jumbo.png);
    min-height: 650px;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
.hero-content {
    width: 80%;
    color: white;
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
}

.hero-section .buttom {
    margin: 5px;
}


/* 2-col-section */
.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.col-40, .col-60 {
    min-height: 400px;
}

/* end-col-section */
.end-section {
    text-align: center;
}

.end-section h3 {
    font-size: 1.5em;
    padding-bottom: 60px;
}

/* FOOTER */
/* top-footer */
footer {
    background-color: rgb(46, 46, 46);
}

.top-footer {
    padding-top: 10px;
    padding-bottom: 30px;
    border-bottom: 2px solid rgb(211, 211, 211);
}

.col-30 {
    width: 30%;
    min-height:500px;
    background-color: blueviolet;
}

.col-70 {
    width: 70%;
    min-height:500px;
    background-color: rgb(93, 185, 165);
}

.col-25 {
    width: 25%;
    border: 2px dashed white;
}

/* .bottom-footer */
.bottom-footer {
    padding-top: 20px;
}

.bottom-footer>div {
    padding: 15px 0;
    background-color: rgb(135, 255, 219);
}

.bottom-footer a {
    background-color: pink;
    padding: 4px 8px;
}

